ul.tabs {
	list-style: none;
	margin: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
	float: left;
	height: 30px;
	width: 100%;
        margin-left: 5px;
}

ul.tabs li a {
	text-decoration: none;
	color: White;
	font: bold;
	display: block;
	font-size: 1em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
	background: #75B03C;
	font-weight: bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: -10px;
}
 
ul.tabs li.active a {
	color: #00913e;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	background: #ECF5E2;
}
 
html ul.tabs li.active {
	color: #E68A00;
	border-bottom: 1px solid #fff;
}
 
html ul.tabs li.active a:hover {
	color: #E68A00;
	background: #bfe0c5;
	border-bottom: 1px solid #fff;
}
 
.cont_tab {
	padding: 5px;
	font-size: 1em;
	border-top-width: 0px;
}

.tab_container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 930px;
	background: #FFF;
}