.calendario {
     width: 400px;
     /*border-collapse: collapse;*/
     /*border: 1px solid #333;*/
     /*background-color: #FBFBFB;*/
     text-align: center;
/*     color: white;*/
}

caption {
     padding: 5px 0 5px 0;
     font: small-caps bold 11px verdana, arial, tahoma;
     background-color: #999;
     border: 1px solid #333;
}

.calendario_td:hover{
    background: red;
}