* {
	margin: 0;
	padding: 0;
}

body {
	background: #e1f2d0 url(images/bg.jpg) repeat-y top center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #222;
}

a {
	text-decoration: none;
	color: #75B03C;
}

a:hover {
	text-decoration: underline;
	color: #111;
}

#wrap {
	margin: 0 auto;
	width: 1024px; 
	height: 600px;
	/*background: yellow;*/
}

#header {
	height: 120px;
	background: #e1f2d0 url(images/header_new.jpg) no-repeat;
}

#header h1 { 
	font-size: 30px;
	letter-spacing: -1px;
	padding: 15px 0 0 20px;
	color: #fff;
}

#header h1 a { 
	color: #fff;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -2px;
}

#header h1 a:hover {
	color: #000;
}

#header h2 {
	font-size: 22px;
	color: #e1c70e;
	padding: 5px 0 0 20px;
	letter-spacing: -1px;
	font-weight: 100;
}

#menu {
	height: 30px;
	line-height: 30px;
	background: #00913d url(images/menu.jpg) no-repeat;
}

#menu ul {
	list-style-type: none;
	padding-left: 30px;
}

#menu ul li {
	display: block;
	float: left;
}

#menu ul li a {
	padding: 0 20px 0 0;
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	color: #fff;
}

#menu ul li a:hover {
	color: #000;
	text-decoration: none;
}

#content {
	/*background: #e1f2d0 url(images/content.jpg) repeat-y;*/
	padding: 0 10px;
	/*background:blue;*/
}

.right {
	float: left;
	width: 950px;
	text-align: justify;
	padding: 15px;
	background: #e3f0e5;
	margin-top: 4px;
	margin-left: 10px;
	min-height: 350px;
}
/*.right h2 {
    color: white;
font-size: 18px;
font-weight: 100;
padding-left: 10px;
height: 30px;
line-height: 30px;
background: #fff url(images/contenth2.jpg) no-repeat;
}
.right h2 a {
text-decoration: none;
color: #fff;
}
.right h2 a:hover {
color: #111;
}*/

.left {
	float: left;
	width: 185px;
	padding-top: 10px;
	/*background: gray;*/
}

.left h2 {
	margin: -6px 0 0 0;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	background: #00913d ;
	color: #fff;
	font-size: 13px;
}

.left ul {
	padding: 10px 0 15px 20px;
	list-style-type: square;
	color: #75B03C;
}

.left ul li a {
	text-decoration: none;
	font-weight: 600;
}

.left ul li a:hover {

}

img {
	border:0px;
}

.footer {
	text-align: center;
	font-size: 11px;
	color: #aaa;
	/*margin-top: 40px;*/
	border-top: 1px dotted #aaa;
	padding-top: 10px;
	float: right;
        margin-right: 25px;
	width: 980px;
	/*background: pink;*/
}

.footer a { color: #aaa; }
.footer a:hover { color: #111; }

th {
     background: #F4F4F4;
}

/*.calendario:hover{
    background: lightgreen;
    cursor:default;
}*/

#tabela_boletim{
    width: 760px;
}

#tabela_boletim tr th{
    background: #70bb84;
}
#tabela_boletim tr td{
    background: #bedfc2;
}

#tabela_boletim tr.avaliacao_tr td{
    background: #fff9c8;
}

.menuExtras {
	float: left;
	width: 185px;
	padding-top: 10px;
	margin-top: 4px;
	line-height: 30px;
	background: #00913d ;
	color: #fff;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
        white-space:pre-wrap;
        width: 300px;
}